# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

ecsgo
# For goreleaser otherwise build fails with git dirty error
dist

# Exclude .vscode folder
.vscode/

# Exclude terraform state files from test folder
test/.terraform*
test/**.tfstate*
